@supports (grid-area:auto) {

body{
  padding:50px;
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #F5FAF8;
}

h1, h2, h3{
  font-family: 'Lora', serif;
}

h1{
  font-size: 50px;
  font-weight: 400;
  color:#0C0D0C;
  letter-spacing: 5px;
}

h2{
  font-size: 24px;
  font-weight: 700;
  color:#0C0D0C;
}

h3{
  font-size: 18px;
  font-weight: 700;
  color:#0C0D0C;
}

p{
  font-size: 14px;
  font-weight: 400;
  color:#0C0D0C;
  letter-spacing: 1px;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-space-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-row-wrap{
  flex-direction: row wrap;
}

.flex-column{
  flex-direction: column;
}


#intro-section p{
  padding: 0px 50px 0px 50px;
}

#intro-scroll-prompt{
  padding-top: 30px;
}

#intro-scroll-prompt img{
  width:30px;
}

#timeline-section{
  display: grid;
  grid-template-columns: 1fr 20px 1fr;
  grid-template-rows:1fr 1fr 1fr 1fr;
  grid-column-gap: 15px;
  padding: 50px 0px 100px 0px;
}

#timeline-line{
  grid-column: 2/3;
  grid-row: 1/5;
}

.timeline-line{
  height: 700px;
  width: 2px;
  background-color: #1C221F;
  border-radius: 5px;
  z-index: 1;
}

.timeline-right{
  text-align: left;
  opacity:0;
  transform: translateX(-50px);
  transition: all .5s ease-out;
  padding-left: 50px;
}

.timeline-right.fade-in{
  transform: translateX(0px);
  opacity:1;
}

.timeline-left{
  text-align: left;
  opacity:0;
  transform: translateX(50px);
  transition: all .5s ease-out;
  padding-right: 50px;
}

.timeline-left.fade-in{
  transform: translateX(0px);
  opacity:1;
}

.timeline-dot{
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background-color: #87E5C3;
  z-index: 2;
}


#timeline01{
  grid-column: 3/4;
  grid-row: 1/2;
}

#timeline-dot-1{
  grid-column: 2/3;
  grid-row: 1/2;
}

#timeline02{
  grid-column: 1/2;
  grid-row: 2/3;
}

#timeline-dot-2{
  grid-column: 2/3;
  grid-row: 2/3;
}

#timeline03{
  grid-column: 3/4;
  grid-row: 3/4;
}

#timeline-dot-3{
  grid-column: 2/3;
  grid-row: 3/4;
}

#timeline04{
  grid-column: 1/2;
  grid-row: 4/5;
}

#timeline-dot-4{
  grid-column: 2/3;
  grid-row: 4/5;
}

#timeline05{
  grid-column: 3/4;
  grid-row: 5/6;
}

#timeline-dot-5{
  grid-column: 2/3;
  grid-row: 5/6;
}

#timeline06{
  grid-column: 1/2;
  grid-row: 6/7;
}

#timeline-dot-6{
  grid-column: 2/3;
  grid-row: 6/7;
}

#timeline07{
  grid-column: 3/4;
  grid-row: 7/8;
}

#timeline-dot-7{
  grid-column: 2/3;
  grid-row: 7/8;
}

#timeline08{
  grid-column: 1/2;
  grid-row: 8/9;
}

#timeline-dot-8{
  grid-column: 2/3;
  grid-row: 8/9;
}

#timeline09{
  grid-column: 3/4;
  grid-row: 9/10;
}

#timeline-dot-9{
  grid-column: 2/3;
  grid-row: 9/10;
}

/* HAND MAP SECTION */

#hand-section{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 500px;
}

#hand-section{
  display:grid;
  grid-template-columns: 1fr 1fr;

}

#hand-image{
  grid-column: 1/2;
  grid-row: 1/2;
}

#hand-image img{
  max-height: 510px;
}

/* POPUPS */

#popup-area{
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.popup{
  grid-column: 1/2;
  grid-row: 1/2;
  visibility:hidden;
  height: 300px;
  width: 300px;
  background-color: #ffffff;
  border: 5px solid #87E5C3;
  border-radius: 999px;
}

.popup h2{
  margin: 15px 0px 15px 0px;
}

.popup p{
  margin: 0px 30px 0px 30px;
}

.liver-popup.active{
  visibility:visible;
}

.insomnia-popup.active{
  visibility:visible;
}

.popup img{
  height:30px;
  margin-top: 25px;
}


#stomach-close, #liver-close{
  width:20px;
  height:20px;
}

.close-button{
  margin-bottom: 25px;
}

.close-button:hover{
  cursor: pointer;
}

/* QUIZ */

#slickQuiz{
  padding-top: 100px;
}

.button {
    float: left;
    width: auto;
    padding: 5px 15px;
    color:#ffffff;
    background-color:darkcyan;
    border: 1px solid #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	text-decoration: none;
}
.button:hover {
    background-color:darkslategray;
}

.startQuiz {
    margin-top: 40px;
}

.tryAgain {
    float: none;
    margin: 20px 0;
}

/* clearfix */
.quizArea, .quizResults {
    zoom: 1;
}
.quizArea:before, .quizArea:after, .quizResults:before, .quizResults:after {
    content: "\0020";
    display: block;
    height: 0;
    visibility: hidden;
    font-size: 0;
}
.quizArea:after, .quizResults:after {
    clear: both;
}

.questionCount {
    font-size: 14px;
    font-style: italic;
}
.questionCount span {
    font-weight: bold;
}

ol.questions {
    margin-top: 20px;
    margin-left: 0;
}
ol.questions li {
    margin-left: 0;
}

ul.answers {
    margin-left: 20px;
    margin-bottom: 20px;
}

ul.responses li {
    margin: 10px 20px 20px;
}
ul.responses li p span {
    display: block;
    font-weight: bold;
    font-size: 18px;
}
.complete ul.answers li.correct, ul.responses li.correct p span {
    color: #6C9F2E;
}
ul.responses li.incorrect p span {
    color: #B5121B;
}

.quizResults h3 {
    margin: 0;
}
.quizResults h3 span {
    font-weight: normal;
    font-style: italic;
}
.quizResultsCopy {
    clear: both;
    margin-top: 20px;
}





}
