@supports (grid-area:auto) {

body{
  padding:50px;
  font-family: 'Montserrat', sans-serif;
}

h1{
  font-size: 30px;
  font-weight: 600;
  color:#0C0D0C;
}

h2{
  font-size: 24px;
  font-weight: 600;
  color:#0C0D0C;
}

h3{
  font-size: 18px;
  font-weight: 200;
  color:#0C0D0C;
}

p{
  font-size: 14px;
  font-weight: 400;
  color:#0C0D0C;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row-wrap{
  flex-direction: row wrap;
}

.flex-column{
  flex-direction: column;
}

#intro-section p{
  padding: 0px 50px 0px 50px;
}

#intro-scroll-prompt{
  padding-top: 30px;
}

#intro-scroll-prompt img{
  width:30px;
}

#timeline-section{
  display: grid;
  grid-template-columns: 1fr 20px 1fr;
  grid-template-rows:1fr 1fr 1fr 1fr;
  grid-column-gap: 15px;
  padding: 50px 0px 100px 0px;
}

#timeline-line{
  grid-column: 2/3;
  grid-row: 1/5;
}

.timeline-line{
  height: 700px;
  width: 10px;
  background-color: #1C221F;
  border-radius: 5px;
  z-index: 1;
}

.timeline-right{
  text-align: left;
  opacity:0;
  transform: translateX(-50px);
  transition: all .5s ease-out;
  padding-left: 50px;
}

.timeline-right.fade-in{
  transform: translateX(0px);
  opacity:1;
}

.timeline-left{
  text-align: left;
  opacity:0;
  transform: translateX(50px);
  transition: all .5s ease-out;
  padding-right: 50px;
}

.timeline-left.fade-in{
  transform: translateX(0px);
  opacity:1;
}

.timeline-dot{
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background-color: #87E5C3;
  z-index: 2;
}


#timeline01{
  grid-column: 3/4;
  grid-row: 1/2;
}

#timeline-dot-1{
  grid-column: 2/3;
  grid-row: 1/2;
}

#timeline02{
  grid-column: 1/2;
  grid-row: 2/3;
}

#timeline-dot-2{
  grid-column: 2/3;
  grid-row: 2/3;
}

#timeline03{
  grid-column: 3/4;
  grid-row: 3/4;
}

#timeline-dot-3{
  grid-column: 2/3;
  grid-row: 3/4;
}

#timeline04{
  grid-column: 1/2;
  grid-row: 4/5;
}

#timeline-dot-4{
  grid-column: 2/3;
  grid-row: 4/5;
}

/* HAND MAP SECTION */

#hand-section{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 500px;
}

#hand-section{
  display:grid;
  grid-template-columns: 1fr 1fr;

}

#hand-image{
  grid-column: 1/2;
  grid-row: 1/2;
}

#hand-image img{
  max-height: 510px;
}

.popup{
  visibility:hidden;
  height: 200px;
  width: 200px;
  background-color: #ffffff;
  border: 5px solid #87E5C3;
  border-radius: 100px;
}

.liver-popup.active{
  visibility:visible;
}

.stomach-popup.active{
  visibility:visible;
}

.popup img{
  height:30px;
}


#stomach-close, #liver-close{
  width:20px;
  height:20px;
}

.close-button:hover{
  cursor: pointer;
}





}
